<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Star Wars Quote App</title>
    </head>
    <body>
        <h1>Add product of ATN-shop </h1>
        <form action="/AddProduct" method="POST">
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="price" name="price" />
            <button type="submit">Submit</button>
        </form>

        <h2> Product </h2>
        <ul class="Product">
            <!-- Loop through Product -->
            <ul>
                <% for(var i=0; i<quotes.length; i++) { %>
                    <li>
                        Name: <%= quotes[i].name %> - Price: <%= quotes[i].price %> <a href="/RemoveProduct/<%= quotes[i]._id %>">Remove</a>
                    </li>
                <% } %>
            </ul>
        </ul>

    </body>
</html>