<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Star Wars Quote App</title>
    </head>
    <body>
        <h1>Add product of ATN-shop </h1>
        <form action="/AddProduct" method="POST">
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="price" name="price" />
            <button type="submit">Submit</button>
        </form>

        <h2> Product </h2>
        <ul class="Product">
            <!-- Loop through Product -->
            <% for(var i = 0; i < Product.length; i++) {%>
                <li class="Product">
                    
                        <!-- Output name from the iterated price object -->
                        <span><%= Product[i].name %></span>:
                        <!-- Output price from the iterated price object -->
                        <span><%= Product[i].price %></span>
                        <a href="/Product/remove/<%= price[i]._id %>">Remove</a>
                </li>
            <% } %>
        </ul>

    </body>
</html>